<div class="section-container section-container-slideshow">
    <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
  <div id="home-slideshow" class="carousel-inner">
    <div class="carousel-item active">
      <a href="/all/0"><img class="d-block w-100" src="{{item.items.0.slide_picture}}" alt="First slide"></a>
    </div>
    <div class="carousel-item">
      <a href="/all/1"></a><img class="d-block w-100" src="{{item.items.1.slide_picture}}" alt="Second slide"></a>
    </div>
    <div class="carousel-item">
      <a href="/all/2"></a><img class="d-block w-100" src="{{item.items.2.slide_picture}}" alt="Third slide"></a>
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
</div>