<title>Change Password</title>
<div class="row w-100">
    <div class="col-sm-12 text-center">
        <h1>Change Password</h1>
    </div>

    <div class="col-sm-2"><img src="../images/img_avatar.png"
            class="img-fluid ${3|rounded-top,rounded-right,rounded-bottom,rounded-left,rounded-circle,|}" alt=""></div>
    <form action="/profile/changePassword" class=" col-sm-8" method="POST" id="changeProfileForm">
        {{#if err_message}}
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            {{err_message}}
        </div>
        {{/if}}
        {{#if success_message}}
        <div class="alert alert-success alert-dismissible fade show" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            {{success_message}}
        </div>
        {{/if}}
        <div class="">
            <div class="form-group">
                <label for="">Old Password</label>
                <input type="password" class="form-control" name="oldPassword" id="">
            </div>
            <div class="form-group">
                <label for="">New Password</label>
                <input type="password" class="form-control" name="newPassword" id="">
            </div>
            <div class="form-group">
                <label for="">Rewrite New Password</label>
                <input type="password" class="form-control w-100" name="rewrite" id="">
            </div>
            <div>
                <a name="" id="" class="btn btn-outline-primary" href="javascript: $('#changeProfileForm').submit()"
                    role="button">Change</a>
            </div>
        </div>
    </form>

    <div class="col-sm-2">
        {{#if isReader}}
        <button type="button" class="btn btn-outline-primary w-100">
            <i class="fa fa-arrow-up" aria-hidden="true"></i>
            Become Merchant
        </button>
        {{/if}}
        {{#if isMerchant}}
        <button type="button" class="btn btn-outline-primary w-100">
            <i class="fa fa-eye" aria-hidden="true"></i>
            View Uploaded
        </button>
        <br>
        <br>
        <button type="button" class="btn btn-outline-primary w-100">
            <i class="fa fa-upload" aria-hidden="true"></i>
            Upload Book
        </button>
        <br>
        <br>
        {{/if}}
        {{#if isAdmin}}
        <button type="button" class="btn btn-outline-primary w-100">
            <i class="fa fa-eye" aria-hidden="true"></i>
            Account List
        </button>
        <br>
        <br>
        <button type="button" class="btn btn-outline-primary w-100">
            <i class="fa fa-upload" aria-hidden="true"></i>
            Book List
        </button>
        <br><br>
        {{/if}}
    </div>
</div>