<div class="container"  style="background: white;margin-top:30px;padding: 30px 30px 30px 30px;">
    <h2 style=" padding-bottom:30px;">Top bidding</h2>

    <div class="containerflex">
    <div class="card" style="width: 18rem;">
        <div style="float:left;">
            <span class="badge bg-danger" style="float:right;color:white;width:30%">3 days </span>
            <span class="badge badge-info" style="float:right;width:30%">4832 bids</span>
        </div>
        <img class="card-img-top" src="https://image.brilliantearth.com/media/base_product_center_diamond_images/BL/BE1D4816_cadenzahalo_Round_rose_carat_75.jpg" alt="Card image cap">

        <div class="card-body">
            <h5 class="card-title" style="float: left;">Card title</h5>

            <div class="currency" style="float: right;font-size:large;font-weight:bold;color:red">
                <span class="sign">$</span>
                <span class="currency">199</span>
            </div>
            <br>
            <p class="card-text" style="clear:both;">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <button class="btn btn-info">View</button>
        </div>
    </div>

    <div class="card" style="width: 18rem;">
        <div style="float:left;">
            <span class="badge bg-danger" style="float:right;color:white;width:30%">3 days </span>
            <span class="badge badge-info" style="float:right;width:30%">4832 bids</span>
        </div>
        <img class="card-img-top" src="https://image.brilliantearth.com/media/base_product_center_diamond_images/BL/BE1D4816_cadenzahalo_Round_rose_carat_75.jpg" alt="Card image cap">

        <div class="card-body">
            <h5 class="card-title" style="float: left;">Card title</h5>

            <div class="currency" style="float: right;font-size:large;font-weight:bold;color:red">
                <span class="sign">$</span>
                <span class="currency">199</span>
            </div>
            <br>
            <p class="card-text" style="clear:both;">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <button class="btn btn-info">View</button>
        </div>
    </div>

    <div class="card" style="width: 18rem;">
        <div style="float:left;">
            <span class="badge bg-danger" style="float:right;color:white;width:30%">3 days </span>
            <span class="badge badge-info" style="float:right;width:30%">4832 bids</span>
        </div>
        <img class="card-img-top" src="https://image.brilliantearth.com/media/base_product_center_diamond_images/BL/BE1D4816_cadenzahalo_Round_rose_carat_75.jpg" alt="Card image cap">

        <div class="card-body">
            <h5 class="card-title" style="float: left;">Card title</h5>

            <div class="currency" style="float: right;font-size:large;font-weight:bold;color:red">
                <span class="sign">$</span>
                <span class="currency">199</span>
            </div>
            <br>
            <p class="card-text" style="clear:both;">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <button class="btn btn-info">View</button>
        </div>
    </div>
        <div class="card" style="width: 18rem;">
        <div style="float:left;">
            <span class="badge bg-danger" style="float:right;color:white;width:30%">3 days </span>
            <span class="badge badge-info" style="float:right;width:30%">4832 bids</span>
        </div>
        <img class="card-img-top" src="https://image.brilliantearth.com/media/base_product_center_diamond_images/BL/BE1D4816_cadenzahalo_Round_rose_carat_75.jpg" alt="Card image cap">

        <div class="card-body">
            <h5 class="card-title" style="float: left;">Card title</h5>

            <div class="currency" style="float: right;font-size:large;font-weight:bold;color:red">
                <span class="sign">$</span>
                <span class="currency">199</span>
            </div>
            <br>
            <p class="card-text" style="clear:both;">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <button class="btn btn-info">View</button>
        </div>
    </div>
    
    
</div>
</div>
