<link rel="stylesheet" type="text/css" href="../../../css/SimpleStarRating.css">
<link rel="stylesheet" type="text/css" href="../../../css/rating.css">
<script src="https://code.jquery.com/jquery-3.4.1.js" integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
    crossorigin="anonymous"></script>
<div class="p-t-20 w-100" style="justify-content: center">
    <center>
        <font color='red'>
            <h3>Review and Rating</h3>
        </font>
    </center>
</div>
<title>Review</title>
<div class="wrap-main-content wrap-item-view">

    <div class="card bg-light" style="width:45rem">
        <div class='moveright'>
                {{#if message}}
                <div class="alert alert-success alert-dismissible fade show" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    {{message}}
                </div>
                {{/if}}
            <form action="/itemReview"  id="formReview" method="POST">
            <div class="col-sm-11">
                <div class="form-group">
                    
                    <input type="text" id="ratingValue" name = "ratingValue" hidden>
                    <h3>Rate </h3>
                    <span id="myRating1" name = "rating" class="rating card-title" data-stars="5" data-default-rating="{{rate}}"></span>
                    <hr>
                    <h3>Review</h3>
                    <textarea class="form-control" name="textContent" id="" rows="3"></textarea>
                    
                </div>
            </div>
            <hr>
            <a name="" id="" class="btn btn-primary mb-4 float-right m-r-60" href="javascript: $('#formReview').submit()" role="button">Submit</a>
        </form>
        </div>
    </div>
</div>


<script src="../../../js/SimpleStarRating.js"></script>
<script src="../../../js/rating.js"></script>