<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <link rel="stylesheet" href="../CSS/betView.css" />
    <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.4.1.min.js"></script>
    <script src="../Controller/betController.js"></script>
    <title>Document</title>
  </head>
  <body>

    <div class="container-full">
    <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
      <a class="navbar-brand" href="#">
        <img
          src="../Assets/img_logo.jpeg"
          width="50"
          height="50"
          class="logoImg"
          alt=""
        />
      </a>
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="#">Home</a>
        </li>
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            id="navbardrop"
            data-toggle="dropdown"
            href="#"
            >Category</a
          >
          <div class="dropdown-menu">
            <a class="dropdown-item" href="#">Smart phone</a>
            <a class="dropdown-item" href="#">Laptop</a>
          </div>
        </li>
        <li class="nav-item">
          <a href="#" class="nav-link">New Today</a>
        </li>
        <li class="nav-item">
          <a href="#" class="nav-link">Ending Today</a>
        </li>
      </ul>
      <div class="navbar-nav ml-auto">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a href="" class="nav-link">
              <img
                src="../Assets/ic_authentication.png"
                width="40"
                height="40"
                alt=""
              />
              @username
            </a>
          </li>
        </ul>
      </div>
    </nav>
    <br /><br />
    <div class="product-description">
      <div
        id="carouselExampleIndicators"
        class="carousel slide"
        data-ride="carousel"
      >
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img
              class="d-block w-100"
              src="../Assets/img_product_01.png"
              alt="First slide"
            />
          </div>
          <div class="carousel-item">
            <img
              class="d-block w-100"
              src="../Assets/img_product_01.png"
              alt="Second slide"
            />
          </div>
          <div class="carousel-item">
            <img
              class="d-block w-100"
              src="../Assets/img_product_01.png"
              alt="Third slide"
            />
          </div>
        </div>
        <a
          class="carousel-control-prev"
          href="#carouselExampleIndicators"
          role="button"
          data-slide="prev"
        >
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a
          class="carousel-control-next"
          href="#carouselExampleIndicators"
          role="button"
          data-slide="next"
        >
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>

        <div class="container pt-4 pb-5">
          <div class="row carousel-indicators">
            <div class="col-md-4 item">
              <img
                src="../Assets/img_product_01.png"
                class="img-fluid"
                data-target="#carouselExampleIndicators"
                data-slide-to="0"
              />
            </div>
            <div class="col-md-4 item">
              <img
                src="../Assets/img_product_01.png"
                class="img-fluid"
                data-target="#carouselExampleIndicators"
                data-slide-to="1"
              />
            </div>
            <div class="col-md-4 item">
              <img
                src="../Assets/img_product_01.png"
                class="img-fluid"
                data-target="#carouselExampleIndicators"
                data-slide-to="2"
              />
            </div>
          </div>
        </div>
        <div class="history-table col-sm">
                <h3>History</h3>
                <table class="table">
                  <thead>
                    <tr>
                      <th scope="col">Rate</th>
                      <th scope="col">Time</th>
                      <th scope="col">Name</th>
                      <th scope="col">Price</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <th scope="row">1</th>
                      <td>23:00</td>
                      <td>***To</td>
                      <td>280</td>
                    </tr>
                    <tr>
                      <th scope="row">2</th>
                      <td>11:12</td>
                      <td>***Va</td>
                      <td>230</td>
                    </tr>
                    <tr>
                      <th scope="row">3</th>
                      <td>11:12</td>
                      <td>***Vi</td>
                      <td>220</td>
                    </tr>
                    <tr>
                      <th scope="row">4</th>
                      <td>11:12</td>
                      <td>***ai</td>
                      <td>210</td>
                    </tr>
                    <tr>
                      <th scope="row">5</th>
                      <td>11:12</td>
                      <td>***i</td>
                      <td>200</td>
                    </tr>
                  </tbody>
                </table>
              </div>
      </div>
      <div class="product-info col-sm">
        <h2>Watch</h2>
        <p>Current Bid: <b>280$</b></p>
        <p>Buy Now Price: <b>1200$</b></p>
        <p>Seller: <span id="merchant-name">@phithangnguyen</span></p>
        <p>Create at: <span id="create_at"> 5:01 AM 23/11/2019</span></p>
        <p>Close in: <span id="end_at"> after 10 hours</span></p>
        <p>Validate Price: <b>300$</b></p>
        <div>
          <span>Rating: </span>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star"></span>
          <span class="fa fa-star"></span>
        </div>
        <br>
        <div>
            <div class="btn-group " role="group" aria-label="Basic example">
                    <button type="button" data-toggle="collapse" href="#bid-collapse" class="btn btn-primary normal-bid-btn">Normal Bid</button>
                    <button type="button" data-toggle="collapse" href="#auto-bid-collapse" class="btn btn-primary">Auto Bid</button>
            </div>
        </div>
        <div class="collapse show bid-collapse" id="bid-collapse">
                <div class="card card-body">
                    <label>Price: </label>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                          <span class="input-group-text">$</span>
                        </div>
                            <input type="number" class="form-control bid-price" value="300" aria-label="Amount (to the nearest dollar)">
                        <div class="input-group-append">
                          <span class="input-group-text">.00</span>
                        </div>
                      </div>
                </div>
        </div>
        <div class="collapse autobid-collapse" id="auto-bid-collapse">
            <div class="card card-body">
                <div class="card card-body">
                    <label>Price: </label>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                          <span class="input-group-text">$</span>
                        </div>
                            <input type="number" id="autobid-price" class="form-control bid-price" value="300" aria-label="Amount (to the nearest dollar)">
                        <div class="input-group-append">
                          <span class="input-group-text">.00</span>
                        </div>
                      </div>
                      <label>Maximum Price: </label>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                          <span class="input-group-text">$</span>
                        </div>
                            <input type="number" id="maximum-price" class="form-control bid-price" value="0" aria-label="Amount (to the nearest dollar)">
                        <div class="input-group-append">
                          <span class="input-group-text">.00</span>
                        </div>
                      </div>
                </div>
            </div>
    </div>
        <br>
        <button type="button" class="btn btn-success" id="buy-btn">Buy</button>
        <button type="button" class="btn btn-danger buy-now-btn" id="buy-now">Buy Now</button>
    </div>
</div>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
  </body>
</html>
